// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

/*
 *   Category page
 */

.category-classic{
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;

    .entry-header{
        margin-bottom: .5rem;
    }
}